body {
    background-color: #f1f5f9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}

.contenedor{
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    background-color: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,15);
}

h1{
    text-align: center;
    color: #0f172a;
}

.descripcion{
    text-align: center;
    color: #475569;
    margin-bottom: 25px;   
}

.formulario{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    padding: 12px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 16px;
}

button{
    padding: 12px 16px;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: #1d4ed8;
}
.mensaje-error{
    color: #dc2626;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.resumen{
    display: flex;
    justify-content:space-around;
    background-color: #e0f2fe;
   border-radius: 10px;
   margin-bottom: 20px;
   padding: 15px;

    
}
.resumen p{
    margin: 0;
    font-weight: bold;
    color: #0f172a;
    
}

ul{
    list-style: none;
    padding: 0;
}
li{
    background-color: #f8fafc;
    border: 1px solid #cbd5e1;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 5px solid #2563eb;
}
li div{
    display: flex;
    gap: 10px;
}
.realizada{
    border-left: 5px solid orange;
}

.hecha{
    border-left: 5px solid green;
}

.hecha span{
    text-decoration: line-through;
    font-weight: bold;
    color: green;
}

.botones{
    display: flex;
    gap: 10px;
}

.btn-realizada{
    background-color: #f59e0b;
    
}

.btn-realizada:hover{
    background-color: #d97706;
}

.btn-eliminar{
    background-color: #dc2626;
}

.btn-eliminar:hover{
    background-color: #b91c1c;
}

.Vacia{
    text-align: center;
    color: #64748b;
    font-style: italic;
}
/* Estilos del footer */
.footer{
    background: linear-gradient(135deg, #1e293b, #0f172a);
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
    font-family: Geneva, Verdana, sans-serif;
    border-top: 3px solid #38bdf8;
}
.footer p{
    margin: 5px 0;
    font-size: 14px;
}
footer span {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #94a3b8;
}